<main class="main">
    <div class="content">
        <div class="remote__links">
            <div class="icons">
                <div class="back">
                    <button class="link" id="back">
                        <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_4)">
                                <path d="M38.1543 19.6227H2.77112" stroke="white" stroke-width="4.16272" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M20.4627 36.6227L2.77112 19.6227L20.4627 2.62274" stroke="white" stroke-width="4.16272"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_67_4">
                                    <rect width="41.6272" height="40" fill="white" transform="translate(0.26416 0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>
                <div class="next">
                    <button class="link" id="forward">
                        <svg width="43" height="41" viewBox="0 0 43 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_7)">
                                <path d="M3.39813 19.6227H38.7813" stroke="white" stroke-width="4.16272" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M21.0897 2.62274L38.7813 19.6227L21.0897 36.6227" stroke="white" stroke-width="4.16272"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_67_7">
                                    <rect width="41.6272" height="40" fill="white" transform="translate(0.891357 0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>
                <div class="reload">
                    <button class="link" id="reload">
                        <svg width="47" height="41" viewBox="0 0 47 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_10)">
                                <path d="M44.2262 4.49893V16.4989H31.738" stroke="white" stroke-width="4.16272" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M39.001 26.4951C37.6481 30.1749 35.087 33.3325 31.7039 35.4921C28.3209 37.6517 24.2991 38.6961 20.2446 38.4681C16.19 38.2403 12.3224 36.7523 9.22447 34.2283C6.1266 31.7045 3.96627 28.2815 3.0691 24.4751C2.1719 20.6689 2.58645 16.6854 4.25025 13.1252C5.91407 9.56496 8.737 6.62078 12.2936 4.73634C15.8503 2.8519 19.948 2.12926 23.9692 2.67734C27.9906 3.22544 31.7175 5.01454 34.5885 7.77506L44.2252 16.4951"
                                    stroke="white" stroke-width="4.16272" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_67_10">
                                    <rect width="45.7899" height="40" fill="white" transform="translate(0.518555 0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>
                <div class="home">
                    <button class="link" id="home">
                        <svg width="45" height="41" viewBox="0 0 45 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_67_13)">
                                <path
                                    d="M2.70166 15.0451L21.4339 2.3178L40.1662 15.0451V35.0451C40.1662 36.0094 39.7276 36.9343 38.9469 37.6163C38.1662 38.2983 37.1074 38.6814 36.0035 38.6814H6.86438C5.76037 38.6814 4.70156 38.2983 3.9209 37.6163C3.14022 36.9343 2.70166 36.0094 2.70166 35.0451V15.0451Z"
                                    stroke="white" stroke-width="4.16272" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.1898 38.6814V20.4996H27.678V38.6814" stroke="white" stroke-width="4.16272" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_67_13">
                                    <rect width="43.7086" height="40" fill="white" transform="translate(0.308594 0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="input__field">
                <input type="text" class="input" id="input">
            </div>
            <div class="start">
                <button class="link" id="go">
                    <svg width="39" height="41" viewBox="0 0 39 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_67_18)">
                            <path d="M4.37939 4.02343L35.1374 21.2962L4.37939 38.5689V4.02343Z" stroke="white" stroke-width="4.16272"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_67_18">
                                <rect width="37.4645" height="40" fill="white" transform="translate(0.561523 0.5)" />
                            </clipPath>
                        </defs>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>